body {
    text-align: center;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1rem;
}

#hello {
    font-size: 2rem;
}

#nav {
    background-color: rgba(92, 205, 111, 0.425);
    border-radius: 1rem;
    padding: 1.7rem;
    margin-left: auto;
    margin-right: auto;
}

#nav a {
    color: rgba(27, 206, 219, 0.644);
    border: solid 0.1rem;
    border-radius: 1rem;
    font-weight: bolder;
    font-size: 1.6rem;
    padding: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}